{% extends 'quiz/quiz.html.twig' %}

{% block title %}Almost done!{% endblock %}

{% block content %}
    <div class="mb-5">
        <p>In order to watch the quiz results and get to the hall of fame, please provide some information about yourself.</p>
    </div>
    {{ form_start(form) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}


