<div class="upper-menu border p-3 mb-5">
    <div>
        <span>Upper Menu</span>
        <a class="btn btn-success" href="{{ path('settings_index') }}">Settings</a>
        <a class="btn btn-success" href="{{ path('quiz_questions') }}">Restart</a>
        <a class="btn btn-success" href="{{ path('homepage') }}">HomePage</a>
    </div>
</div>
